{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    {{ form_start(formLieu) }}
    <div class="col-md-7 col-lg-5 ml-5">
        <h4 class="mb-3">Modifier un Lieu</h4>
        <form class="needs-validation" novalidate="">
            <div class="row g-3">
                <div class="col-12">
                    <label for="nom" class="form-label">Nom</label>
                    {{ form_widget(formLieu.nom) }}
                </div>
            </div>
            <hr class="my-4">
            {{ form_end(formLieu) }}
    </div>
{% endblock %}
