{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    {# Preview de la nouvelle image #}

<div class="row g-6 mr-6 mt-4">
    <div class="col-md-5 col-lg-3 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Preview du Lieu</span>
        </h4>
        <img id="preview" class="img-thumbnail" alt="Lieu_ImagePreview">
    </div>

    {# --- Preview de la nouvelle image --- #}
    {# Corps de la page de modification du lieu #}

    {{ form_start(formLieu) }}
    <div class="col-md-7 col-lg-5 ml-5">
        <h4 class="mb-3">Modifier un Lieu</h4>
        <form class="needs-validation" novalidate="">
            <div class="row g-3">
                <div class="col-12">
                    <label for="nom" class="form-label">Nom</label>
                    {{ form_widget(formLieu.nom) }}
                </div>
            </div>
            <hr class="my-4">
            {{ form_end(formLieu) }}
    </div>
</div>

    {# --- Corps de la page de modification du lieu --- #}
    {# Javascript pour faire la prévisualisation de l'image lors de l'insert de l'image sans avoir encore validé le formulaire #}
    <script>
        window.addEventListener("DOMContentLoaded", function() {
            const input = document.querySelector('[data-preview="#preview"]');
            const preview = document.querySelector('#preview');

            input.addEventListener('change', () => {
                const file = input.files[0];
                const reader = new FileReader();

                reader.addEventListener("load", () => {
                    preview.src = reader.result;
                });
                reader.readAsDataURL(file);
            });
        });
    </script>

    {# --- Javascript pour faire la prévisualisation de l'image lors de l'insert de l'image sans avoir encore validé le formulaire --- #}
{% endblock %}
