{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: A propos {% endblock %}

{% block information %}
    <h1 class="jumbotron-heading"> A propos</h1><br/>
{% endblock %}

{% block main %}
<div class="row">
    <div id="primary" class="content-area col-md-8 mx-auto">
        <div id="content" class="site-content" role="main">

            <article id="post-108" class="post-108 page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 class="entry-title">A propos</h1>
                    <br>
                    <br>
                </header><!-- .entry-header -->
    <p>EniSortie est un site web dédié à la découverte et à la réservation d'activités de loisirs en France. Nous sommes passionnés par l'organisation de sorties et nous voulons rendre l'expérience de la planification de sorties plus facile et plus agréable pour tout le monde.Notre site web offre une large sélection d'activités de loisirs, allant des sports de plein air tels que la randonnée et le vélo, aux visites culturelles de musées et de monuments historiques, en passant par des activités plus divertissantes comme des parcs d'attractions et des salles de jeux.Nous avons des partenariats avec des entreprises locales pour vous offrir des tarifs compétitifs et des expériences uniques. Notre interface conviviale et facile à utiliser vous permet de réserver facilement votre activité préférée en quelques clics seulement.Nous croyons que tout le monde devrait pouvoir profiter de la vie et découvrir de nouvelles expériences passionnantes. Chez EniSortie, nous sommes déterminés à faire de cela une réalité pour tous nos clients. Rejoignez-nous pour une expérience de sortie exceptionnelle et inoubliable en France!</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}

