{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}A propos {% endblock %}

{% block information %}
    <h1 class="jumbotron-heading"> A propos</h1><br/>
{% endblock %}

{% block main %}
<div class="row">
    <div id="primary" class="content-area col-md-8 mx-auto">
        <div id="content" class="site-content" role="main">

            <article id="post-108" class="post-108 page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 class="entry-title">A propos</h1>
                    <br>
                    <br>
                </header><!-- .entry-header -->
    <p>Eni Informatique est une entreprise de services informatiques spécialisée dans le développement de solutions logicielles et l'optimisation des systèmes d'information. Nous sommes fiers de fournir des services de qualité à nos clients depuis plus de 30 ans.

        Notre expertise en informatique nous permet de fournir des solutions adaptées aux besoins de nos clients, qu'ils soient des petites entreprises, des grandes entreprises ou des organisations gouvernementales. Nous offrons une gamme complète de services, allant de la conception et du développement de logiciels sur mesure à la maintenance et à la gestion des infrastructures informatiques.

        Chez Eni Informatique, nous sommes engagés à offrir des solutions innovantes et fiables pour aider nos clients à améliorer leur efficacité opérationnelle et leur compétitivité sur le marché. Nous travaillons en étroite collaboration avec nos clients pour comprendre leurs besoins et leur offrir des solutions sur mesure qui répondent à leurs besoins spécifiques.

        Nous sommes impatients de vous rencontrer lors de notre événement entre campus et de vous présenter notre entreprise et nos services informatiques. Nous sommes convaincus que nous pouvons vous aider à atteindre vos objectifs informatiques et à réussir dans un environnement numérique en constante évolution.</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}

