{% extends 'base.html.twig' %}

{% block title %}{{  parent() }}: Mentions Légales {% endblock %}

{% block main %}
<div class="row">

    <div id="primary" class="content-area col-md-11 mx-auto">
        <div id="content" class="site-content" role="main">



            <article id="post-108" class="post-108 page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 class="entry-title">Mention-légale</h1>
                    <br>
                    <br>
                </header><!-- .entry-header -->

    <p><strong>Éditeur du site</strong>: EniSortie
        <br>
        <br><strong>Siège social</strong>: [Adresse de votre siège social]
        <br>
        <br><strong>Directeur de la publication</strong>: [Nom et prénom du directeur de la publication]
        <br>
        <br><strong>Hébergement du site</strong>: [Nom et adresse de l'hébergeur]
        <br>
        <br><strong>Propriété intellectuelle</strong>: Le contenu de ce site (textes, images, vidéos,etc.) est la propriété de EniSortie ou de ses partenaires et est protégé par les lois françaises et internationales relatives à la propriété intellectuelle. Toute reproduction, représentation, adaptation ou modification de ce contenu est strictement interdite sans l'autorisation préalable de EniSortie.
        <br>
        <br><strong>Données personnelles</strong>: EniSortie s'engage à respecter la vie privée de ses utilisateurs et à protéger les informations personnelles qui peuvent être collectées lors de l'utilisation du site.
        <br>Les informations personnelles collectées sur le site ne seront utilisées que dans le cadre de la fourniture de services proposés par EniSortie et ne seront pas communiquées à des tiers sans l'accord de l'utilisateur.
        <br>Conformément à la loi Informatique et Libertés, chaque utilisateur dispose d'un droit d'accès, de rectification et de suppression des données le concernant en contactant EniSortie à l'adresse [adresse de contact].
        <br>
        <br><strong>Responsabilité</strong>: EniSortie ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation du site ou des informations qui y sont proposées.
        <br>Les liens hypertextes présents sur le site peuvent renvoyer vers des sites tiers sur lesquels EniSortie n'a aucun contrôle et pour lesquels elle décline toute responsabilité.
        <br>
        <br><strong>Loi applicable et juridiction compétente</strong>: Les présentes mentions légales sont soumises au droit français.
        <br>Tout litige relatif à l'utilisation du site sera soumis à la compétence exclusive des tribunaux français. </p>
            </article>
        </div>
    </div>
</div>
{% endblock %}

