{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: S'inscrire{% endblock %}

{% block main %}
    <div class="mr-4 ml-3">
        {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
        {{ form(registrationForm) }}
    </div>

{% endblock %}
