.info{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.date{
    display: flex;
    justify-content: flex-end;

}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bpSearch{
    display: flex;
    justify-content: center;
}

.check{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nomInput{
    margin-left: 20px;
}